In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('basket_analysis.csv')
df.head()

,Unnamed: 0,Apple,Bread,Butter,Cheese,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt,chocolate
0,0,False,True,False,False,True,True,False,True,False,False,False,False,True,False,True,True
1,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,2,True,False,True,False,False,True,False,True,False,True,False,False,False,False,True,True
3,3,False,False,True,True,False,True,False,False,False,True,True,True,False,False,False,False
4,4,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df = df.drop(columns=df.columns[0], axis=1)
df = df.replace({True:1, False:0})
df.head()

,Apple,Bread,Butter,Cheese,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt,chocolate
0,0,1,0,0,1,1,0,1,0,0,0,0,1,0,1,1
1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2,1,0,1,0,0,1,0,1,0,1,0,0,0,0,1,1
3,0,0,1,1,0,1,0,0,0,1,1,1,0,0,0,0
4,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
min_supp = int(input("Enter minimumu support: "))
freq = pd.DataFrame({'item_set': df.sum().index, 'frequency':df.sum().values})
freq

Enter minimumu support value: 10

        item_set  frequency
0          Apple        383
1          Bread        384
2         Butter        420
3         Cheese        404
4           Corn        407
5           Dill        398
6           Eggs        384
7      Ice cream        410
8   Kidney Beans        408
9           Milk        405
10        Nutmeg        401
11         Onion        403
12         Sugar        409
13       Unicorn        389
14        Yogurt        420
15     chocolate        421

In [ ]:
freq['item_set'] = freq['item_set'].apply(lambda x:x.split(","))
maxlen = 0
if((min_supp*df.shape[0])/100 <= freq['frequency'].max()):
  freq = freq[freq['frequency'] >= (min_supp*df.shape[0])/100]
  freq.reset_index(drop=True, inplace=True)
  while(freq.shape[0]):
    maxlen += 1
    print(str(maxlen)+ " length item set")
    print(freq)
    newfreq = pd.DataFrame(columns=['item_set', 'frequency'])
    for i in freq.index:
      for j in range(i+1, freq.shape[0]):
        if(freq.iloc[i].item_set[:-1] == freq.iloc[j].item_set[:-1]):
          next_item_set = freq.iloc[i].item_set.copy()
          next_item_set.append(freq.iloc[j].item_set[-1])
          frequency = 0
          for k in df.index:
            flag=True
            for l in next_item_set:
              if(df.iloc[k][l] == 0):
                flag=False
                break
            if(flag):
              frequency +=1
          newfreq.loc[len(newfreq.index)] = [next_item_set, frequency]
    freq = newfreq[newfreq['frequency'] >= (min_supp*df.shape[0])/100]
  print("length of largest frequent of item set is " + str(maxlen))

1 length item set
          item_set  frequency
0          [Apple]        383
1          [Bread]        384
2         [Butter]        420
3         [Cheese]        404
4           [Corn]        407
5           [Dill]        398
6           [Eggs]        384
7      [Ice cream]        410
8   [Kidney Beans]        408
9           [Milk]        405
10        [Nutmeg]        401
11         [Onion]        403
12         [Sugar]        409
13       [Unicorn]        389
14        [Yogurt]        420
15     [chocolate]        421
2 length item set
                 item_set  frequency
0          [Apple, Bread]        154
1         [Apple, Butter]        188
2         [Apple, Cheese]        162
3           [Apple, Corn]        186
4           [Apple, Dill]        179
..                    ...        ...
115       [Sugar, Yogurt]        191
116    [Sugar, chocolate]        188
117     [Unicorn, Yogurt]        184
118  [Unicorn, chocolate]        186
119   [Yogurt, chocolate]        198

[120 rows x 2 columns]
3 length item set
                              item_set  frequency
23              [Apple, Butter, Sugar]        100
210          [Butter, Corn, Ice cream]        102
211       [Butter, Corn, Kidney Beans]        101
238  [Butter, Ice cream, Kidney Beans]        110
240        [Butter, Ice cream, Nutmeg]        102
241         [Butter, Ice cream, Onion]        103
242         [Butter, Ice cream, Sugar]        106
243       [Butter, Ice cream, Unicorn]        100
245     [Butter, Ice cream, chocolate]        109
246       [Butter, Kidney Beans, Milk]        104
247     [Butter, Kidney Beans, Nutmeg]        101
258          [Butter, Milk, chocolate]        102
259            [Butter, Nutmeg, Onion]        104
262           [Butter, Nutmeg, Yogurt]        100
290              [Cheese, Dill, Onion]        102
304  [Cheese, Ice cream, Kidney Beans]        104
313     [Cheese, Kidney Beans, Nutmeg]        101
315      [Cheese, Kidney Beans, Sugar]        101
318  [Cheese, Kidney Beans, chocolate]        102
325            [Cheese, Nutmeg, Onion]        100
367         [Corn, Kidney Beans, Milk]        105
372       [Corn, Kidney Beans, Yogurt]        100
373    [Corn, Kidney Beans, chocolate]        100
379            [Corn, Milk, chocolate]        102
411       [Dill, Ice cream, chocolate]        103
424            [Dill, Milk, chocolate]        114
433           [Dill, Onion, chocolate]        103
438         [Dill, Unicorn, chocolate]        101
493     [Ice cream, Nutmeg, chocolate]        101
497      [Ice cream, Onion, chocolate]        101
504       [Kidney Beans, Milk, Nutmeg]        100
513     [Kidney Beans, Nutmeg, Yogurt]        101
539          [Milk, Yogurt, chocolate]        104
length of largest frequent of item set is 3